<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.logoguess">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/movies"
        android:icon="@mipmap/movies"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name="com.example.admin.logoguess.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.admin.logoguess.play1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.admin.logoguess.play1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.admin.logoguess.gameover"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.admin.logoguess.gameover" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.admin.logoguess.winning"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.admin.logoguess.winning" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.admin.logoguess.howtoplay"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.admin.logoguess.howtoplay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.admin.logoguess.info"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.admin.logoguess.info" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>


